h1, p, h3, h5 {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Scope One', serif;    
}

.subject-name-right {
    font-size: 5vw;
    font-style: italic;

    margin-top: 8%;
}

.subject-name-left {
    font-size: 5vw;
    font-style: italic;
    text-align: center;
    margin-top: 8%;
}