h1, p, h3, h5 {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Scope One', serif;    
}

.title-text {
    font-size: 4.5vw;
    font-style: italic;
}

.subject-name-right {
    font-size: 4vw;
    font-style: italic;

    margin-top: 10%;
}

.subject-name-left {
    font-size: 4vw;
    font-style: italic;

    margin-top: 10%;
}

.border-m {
    border: black;
    border-style: solid;
}

.jumbo-m0 {
    margin: 0;
}

.jumbo-headings {
    font-size: 2.5vw;
    font-style: italic;
    margin-top: 2.5%;

}