h1, p, h3, h5 {
    font-family: 'Noto Serif JP', serif;
    font-family: 'Scope One', serif;    
}

.subject-name {
    font-size: 5vw;
    font-style: italic;
    margin-left: 15%;
    margin-top: 8%;
}